body {
    background-color: #000;
}


.siderbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 400px;
    background-color: #000000;
}

.logo img {
    width: 80px;
}

.sidebar-navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar-navigation .logo{
    display: flex;
    background: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 35px;
    padding: 0 20px 30px 20px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.sidebar nav ul li .fa {
    font-size: 20px; /* 20px para rem */
    margin-right: 10px; /* 10px para rem */
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 6px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library-content {
    display: flex;
    justify-content: space-between;
}

.library .library-button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 16px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library-button .fa {
    font-size: 24px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library-content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist-content {
    display: flex;
    flex-direction: column;
}

.section-playlist-content .text{
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.section-playlist-content .title {
    font-weight: 700;
}

.section-playlist-content .subtitle {
    font-weight: 600;
    font-size: 12px;
}

.section-playlist-content .section-playlist-button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    margin-top: 12px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
} 

.languages .languages-button{
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, #86116E, #573D9C, #2B69B6);
    cursor: pointer;
    margin-left: 12px;
    margin-bottom: 5px;
    margin-right: 12px;
    border-radius: 5px;
}

.footer .footer-title {
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.footer .footer-subtitle {
    color: #fff;
    margin-top: 8px;
    margin-left: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 550;
}

.footer .inscreva-se {
    display: flex;
    height: 80px;
    flex-direction: column;
    position: fixed;
    right: 0;
    align-items: center;
    justify-content: center;
}

.footer .inscreva-se .inscreva-se-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    border-radius: 24px;
    padding: 15px 30px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    margin-right: 40px;
}

.main-container {
    max-width: 800vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.header-navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 32px;
}

.header-navigation .navigation .arrow-left {
    margin-right: 1rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #131313;
    background-color: rgba(0,0,07);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header-login {
    display: flex;
    align-items: center;
}

.header-search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header-search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header-search input {
    background: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header-login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
}

.header-login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}




