body {
    background-color: var(--bg-black-color);
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 370px;
}

.sidebar_navigation {
    background-color: var(--bg-navegation-color);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo {
    background: var(--bg-navegation-color);
    display: flex;
    border-radius: 8px;
    padding: 10px 0 0 16px;
}

.logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: var(--bg-sidebar-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.library {
    background-color: var(--bg-navegation-color);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: var(--bg-sidebar-color);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: var(--bg-sidebar-color);
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library__button .fa {
    font-size: 20px;
    color: var(--bg-sidebar-color);
    margin-right: 10px;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--bg-preta-color);
    color: var(--bg-sidebar-color);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: var(--bg-white-color);
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: var(--bg-white-color);
    color: var(--bg-black-color);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 113px;
}

.scroll {
    overflow-y: scroll;
    height: 180px;
}

.scroll::-webkit-scrollbar {
    width: 12px;
    border: 1px
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #929292;
}


.section-podcast {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--bg-preta-color);
    color: var(--bg-sidebar-color);
    font-weight: 600;
    font-size: 14px;
    margin: 25px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-podcast .section-podcast__content {
    display: flex;
    flex-direction: column;
}

.section-podcast__content .text {
    padding-bottom: 14px;
    color: var(--bg-white-color);
}

.section-podcast__content .title {
    font-weight: 700;
    margin-top: 20px;
}

.section-podcast__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-podcast__content .section-podcast__button {
    display: flex;
    justify-content: center;
    background-color: var(--bg-white-color);
    color: var(--bg-black-color);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 180px;
}


.sidebar .container__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    
}

.sidebar .container__links a {
    color: var(--bg-sidebar-color);
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .container__links a:hover {
    text-decoration: underline;
}

.container__links .linha__1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-left: 0px;
    margin: 10px 10px;
}

.container__links .linha__1 .Legal {
    padding: 0;
    margin-left: 10px;
}

.container__links .linha__1 .Centro_de_Privacidade {
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
}

.container__links .linha__1 .Política_de_Privacidade {
    padding: 0;
    margin-right: 50px;
}

.container__links .linha__2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 8px;
    margin-top: 0px;
    padding: 0;
    width: 300px;
}

.container__links .linha__2 .Cookies{
    padding: 0;
    margin-left: 10px;
}

.container__links .linha__2 .Sobre_anúncios {
    padding: 0;
    margin-left: 5px;
}

.container__links .linha__2 .Acessibilidade{
    padding: 0;
    margin-right: 80px;
    margin-left: 0;
}

.container__links .linha__3 {
    display: flex;
    justify-content: space-between;
    margin: 10px 8px;
    margin-top: 0px;
    padding: 0;
    width: 300px;
}

.container__links .linha__3 .Notice_at_Collection {
    padding: 0;
    margin-left: 11px;
}

.container__links .linha__3 .Your_Privacy_Choices{
    padding: 0;
    margin-left: 8px;
    margin-right: 90px;
}

.Cookies2{
    margin-bottom: 8px;
    margin-top: 0px;
    margin-left: 19px;
}


.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--bg-cinza-escuro);
    color: var(--bg-white-color);
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 1.5px;
    margin-left: 12px;
    padding: 12px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}

#artistList {
    display: none;
}